[core]
  # brew install git-delta
  pager = delta

[user]
  name = Js Lim
  email = jslim89@gmail.com

[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto

[diff]
    colorMoved = default

[alias]
  ll = log --oneline --decorate --graph --all

[interactive]
  diffFilter = delta --color-only

[delta]
  features = seoul256
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true

[delta "seoul256"]
  dark = true
  syntax-theme = seoul256
  minus-style = "#d75f5f" "#3a2121"
  plus-style = "#afdf87" "#263526"
  line-numbers-zero-style = "#626262" "#262626"

[merge]
  conflictstyle = diff3

